<!DOCTYPE html>
<html>
<html prefix="og: https://ogp.me/ns#">
  <meta charset="utf-8">
  <head>
    <title>Run PiX : {{raceId}}</title>
    <meta property="og:title" content="Run PiX - find your images - {{raceId}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Picture shared at a sports event "  />
    <meta property="fb:app_id" content="1930144640593533"  />
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="{{imageUrl}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="A shiny red apple with a bite taken out" />
  </head>
  <!-- Import and configure the Firebase SDK -->
  <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
  <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
  {{!-- <script defer src="/__/firebase/3.9.0/firebase-app-compat.js"></script>
  <script defer src="/__/firebase/3.9.0/firebase-auth-compat.js"></script>
  <script defer src="/__/firebase/init.js"></script> --}}

</head>
<style>
body  {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>

{{{body}}}

</body>
</html>